<div class="child">
  <h2>Child Component</h2>
  <div>
    <div>
      <label for="">User.Name</label>
      <input name="name" type="text"  [(ngModel)]="user.name" />
    </div>
    <div>
      <label>age:{{user.age}}</label>
    </div>

    <br/>
    <div>
      <label for="">System Notification</label>
      <input name="name" type="text" [(ngModel)]="systemNotification" />
    </div>
    <div>
        <label for="">own property</label>
        <input name="name" type="text" [(ngModel)]="ownProp" />
      </div>
      <app-nested></app-nested>
  </div>

  <button (click)="childClick()">Update User</button>
</div>
