<div class="child">
  <h2>Child Component</h2>
  <div>
    <div>
      <label for="">User.Name</label>
      <input name="name" type="text"  [(ngModel)]="user.name" />
    </div>
    <div>
      <label *ngIf="showAge">age:{{user.age}}</label>
    </div>

    <br/>
    <div>
      <label for="">System Notification</label>
      <input name="name" type="text" [(ngModel)]="systemNotification" />
    </div>
    <div>
        <label for="">show Age: </label>
        <input name="show_age" type="radio" [(ngModel)]="showAge" [value]="true"/><label>Yes</label>
        <input name="show_age" type="radio" [(ngModel)]="showAge" [value]="false"/><label>No</label>
      </div>
      <app-nested></app-nested>
  </div>

  <button (click)="showData()">Show Data</button>
</div>
